@model IEnumerable<CentricRecognition9.Models.CoreValue>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<h2>Core Values</h2>

<p>

</p>
<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoreValueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoreValueDescription)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoreValueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoreValueDescription)
        </td>
    </tr>
}

</table>
