@{
    ViewBag.Title = "About";
}
<h2>About the Recognition Program</h2>
<h3>How to use</h3>

<p>Steps on how to use</p>

<h3>Why to Recognize?</h3>

<p>Because it's awesome!</p>

<h3>>How to Spend Recognition Points?</h3>

<p>Using the store!</p>
