@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<h2>About the Recognition Program</h2>
<h3>How to use the website</h3>

<p>Register at the top of the page. Make sure that you use your Centric email!</p>
<br />
<p>Upon registering, fill out your employee profile to ensure that it represents you.</p>
<br />
<p>In the "Recognition" tab, recongize employees based on the principles that Centric supports.</p>

<h3>Why recognize co-workers?</h3>

<p>Because it's awesome, makes everyone feel great and even allows you to get competitive and compare recognitions on our leaderboard!</p>