@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<h2>About the Recognition Program</h2>
<h3>How to use the website</h3>

<div class=col-sm-4>
<p>Register at the top right of the page. Make sure that you use your Centric Consulting email.</p>
<br />
<p>Upon registering, fill out your employee profile to ensure that it represents you. Don't worry though, if you make a mistake you will be able to edit later.</p>
<br />
<p>Once you have created your employee profile you will be directed to the list of all employees. This is where you can search for and view other people who work for Centric!</p>
<br />
<p>If there is someone that you've been working with that has really done a great job, let them know! You can do this through the "Recognition" tab. Just create a new recognition, find the person you want to recognize and let them know why they are great!</p>
<br />
<p>You can also recognize people through social media and see what others are saying through the "Home" and "Recognition" pages.</p>
<br />
<p>For any additional questions, please contact us by clicking contact on the navigation bar above.</p>
</div>