@{
    ViewBag.Title = "About";
}
<br />
<h2>About the Recognition Program</h2>
<h3>How to use the website</h3>

<p>Register, create profile, give out recognition, receive recognition, spend recognition points.</p>

<h3>Why recognize co-workers?</h3>

<p>Because it's awesome, makes everyone feel great and even allows you to redeem your recognition points!</p>

<h3>How do you spend recognition points?</h3>

<p>Using the @Html.ActionLink("Store", "Index", "Home")!</p>
