@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<br />
<h2>Contact Information</h2>
<h3>Technical Support</h3>
<h4> MIS Team 9</h4>

<address>
    <strong>Austin Doyle:</strong>   <a href="mailto:ad567613@ohio.edu">ad567613@ohio.edu</a><br />
    <strong>Hunter McCollough:</strong> <a href="mailto:hm295813@ohio.edu">hm295813@ohio.edu</a><br />
    <strong>Jeff Reimann:</strong> <a href="mailto:jr573512@ohio.edu">jr573512@ohio.edu</a><br />
    <strong>Adam Pierce:</strong> <a href="mailto:ap709912@ohio.edu">ap709912@ohio.edu</a><br />
    <strong>Xin Ding:</strong> <a href="mailto:xd742412@ohio.edu">xd742412@ohio.edu</a><br />
</address>

<h3>Administrative Support</h3>
<h4>Product Owner</h4>

<address>
    <strong>Kyle Buggie:</strong>   <a href="mailto:kyle.buggie@centricconsulting.com">kyle.buggie@centricconsulting.com</a>

</address>