@{
    ViewBag.Title = "Contact";
}
<br />
<h2>Contact Information</h2>
<h3>Centric Columbus Office</h3>

<address>
    1020 Dennison Avenue<br />
    Columbus, Ohio 43201<br />
</address>

<address>
    <strong>Important Email:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Important Email:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>